<!doctype html>
<head>
    <title>Video Search</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Viga" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../../static/js/main_search.js"></script>
</head>
<body>
<div id="main-search">
    <h1>Video Search</h1>
    <form id='upload-form' action="/search" method="POST" onsubmit="return checkFile()" enctype="multipart/form-data">
        <input class="border clickable" id='upload-file' type="file" name="video" accept="video/*" required>
        <input class="button" type="submit" value="Search">
    </form>
</div>

<div class='notifications'>
    <div id='notification'></div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
</div>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('connect', function() {
        socket.emit('my event', {data: 'I\'m connected!'});
    });
</script>
</body?
